{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label_homepage'|trans }}
{% endblock %}

{% block body %}
    <h1 class="display-4 d-flex justify-content-center">{{ 'text_homepage'|trans }}</h1>
    <h3 class="display-8 d-flex justify-content-center">{{ 'text_hello'|trans }}</h3>
{% endblock %}
